<html>

  <head>

  </head>

  <body>

    <h2>Welcome to Stupid Coaching!</h2>

    <div>
      <p><strong>You:</strong> <%= @question %></p>
    </div>

    <div>
      <p><strong>Your coach:</strong> <%= @answer %></p>
    </div>

    <a href="/ask">New question?</a>

  </body>

</html>
