<html>

  <head>
  </head>

  <body>
    <h2>Welcome to Stupid Coaching!</h2>
    <p>Ask your coach anything (WARNING: he's very grumpy):</p>
    <form action="/answer" data-turbo="false">
      <input type="text" name="answer" value="<%= params[:answer] %>">
      <input type="submit" value="Ask!">
    </form>

  </body>

</html>
